{% extends 'base.html.twig' %}

{% block title 'Home' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1> Bienvenue à l'agence</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis consectetur volutpat. Sed congue blandit neque a ultricies. Nam congue iaculis ipsum non finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pharetra sem quis libero eleifend, vestibulum semper augue ultrices. Duis egestas, urna nec consectetur pretium, magna felis luctus libero, eget gravida libero augue vel nulla. Pellentesque quis maximus odio. Mauris elementum leo non nisl malesuada egestas. Etiam elementum quis lacus eu ornare. Etiam mattis nibh at metus consectetur cursus.
        </p>
    </div>
{% endblock %}